.popup__title {
    max-width: 358px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-top: 34px;
    padding-bottom: 42px;
    margin: 0;
  
}

@media screen and (max-width: 550px) {
    .popup__title {
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 70px;
        padding-top: 25px;
    }
}