.login__button {
    margin: 0;
    padding: 0;
    width: 358px;
    height: 50px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    border: none;
    margin-top: 300px;
}

.login__button:hover {
    opacity: 0.6;
    transition: all ease-in-out 0.2s;
  }
  @media screen and (max-width: 767px){
    .login__button{
        width: 260px;
        height: 46px;
       
    }
}