.element {
    max-width: 282px;
    max-height: 361px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 400px) {
    .element {
        padding: 0;
    }
}