.popup__title_type_size{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    color: #FFFFFF;
    padding-top: 10px;
}