.login__title{
    display: flex;
    justify-content: center;
    margin: 21px;
    padding: 0;
    margin-bottom: 52px;
    max-width: 358px;
    height: 29px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}